<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EndpointIdentifierPersonne" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDetectionClient">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws-detectionclient.axa-fr.intraxa/WSDetectionClient.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDetectionClient"
                contract="Vone.IDetectionClient" name="WSHttpBinding_IDetectionClient" />
            <endpoint address="http://localhost:59875/AF.WS.QDS.Host/IdentifierPersonne.svc"
                binding="basicHttpBinding" bindingConfiguration="EndpointIdentifierPersonne"
                contract="Vtwo.IdentifierPersonneContract" name="EndpointIdentifierPersonne" />
        </client>
    </system.serviceModel>
</configuration>