<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="monitoringServices" type="AF.FWK.MonitoringServices.Configuration.MonitoringServicesConfigurationSection, AF.FWK.MonitoringServices" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <monitoringServices applicationName="DETCLIENT" applicationsList="FCA">
    <traceConsultation url="http://dvafawebvmod31/WS.VSI.Monitoring.CST/TraceServices.svc" userName="login" password="password" />
    <traceManagement url="http://dvafawebvmod31/WS.VSI.Monitoring.MNG/TraceManagementServices.svc" userName="login" password="password" />
    <wsLogConsultation url="http://dvafawebvmod31/WS.VSI.Monitoring.CST/WsLogServices.svc" userName="login" password="password" />
    <wsLogManagement url="http://dvafawebvmod31/WS.VSI.Monitoring.MNG/WsLogManagementServices.svc" userName="login" password="password" />
    <kpiConsultation url="http://dvafawebvmod31/WS.VSI.Monitoring.CST/KpiServices.svc" userName="login" password="password" />
    <kpiManagement url="http://dvafawebvmod31/WS.VSI.Monitoring.MNG/KpiManagementServices.svc" userName="login" password="password" />
  </monitoringServices>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>